* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 2% 10%;
	background-color: #f8f8f8;
	padding: 2% 4%;
	border-radius: 20px;
	height: 80vh;
}

.menu {
	display: flex;
	justify-content: center;
}
.button-click {
	font-size: 28px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background-color: #a306c2;
	width: 2.7vw;
	height: 2.7vw;
	border: none;
}

.button-click:active {
	background-color: #7d0495;
}

.task-list {
	margin-top: 50px;
}
.task-list li {
	margin: 1% 0;
}

ul {
	list-style: none;
}

.add-new-task {
	justify-content: flex-start;
	flex-direction: row;
	color: #a306c2;
	font-size: 30px;
}

.tasks {
	position: relative;
	margin: 20px;
	cursor: pointer;
	font-size: 24px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.trash {
	width: 28px;
}

.tasks input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.tasks input:checked+ .task-name {
	text-decoration: line-through;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: rgb(246, 246, 246);
	border: 2px solid #2196F3;
	border-radius: 5px;
}

.tasks:hover input~.checkmark {
	background-color: rgb(235, 232, 255);
}

.tasks input:checked~.checkmark {
	background-color: #2196F3;
}
.tasks:hover~.checkmark:after {
	text-decoration: line-through;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.tasks input:checked~.checkmark:after {
	display: block;
}

.tasks .checkmark:after {
	left: 7.5px;
	top: 3px;
	width: 5px;
	height: 12px;
	border: solid white;
	border-radius: 20%;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.task-name {
	margin: 40px;
}
/* marquee */
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
		opacity: 0.5;
    }
}
 
@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
		opacity: 0.5;
    }
}
 
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
		opacity: 0.5;
    }
}
 
.marquee {
    display: block;
	background-color: #eee;
    width: 100%;
	margin: auto;
    white-space: nowrap;
    overflow: hidden;
	border-radius: 5px;
	padding: 5px 0;
}
 
.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 8s infinite linear;
    -moz-animation: scroll 8s infinite linear;
    animation: scroll 8s infinite linear;
}